body {
  background: url(./bg/dark-red.png);
  background-size: 283px 120px;
}

body._bg-green-line {
  background: url(./bg/green-line.jpg);
  background-size: 68px 112px;
}

body._bg-green-leaf {
  background: url(./bg/leaf.jpg);
  background-size: 158px 158px;
}

$hover-color: #8b1207;
$win-color: #2a7458;
$lose-color: #8b1207;
//$dot-color: #1b375b;
//$dot-color: #0b3ca0;
//$dot-color: #202162;
$dot-color: #202162;

//$shadow-color: #8b1207;
$shadow-color: #8b1207;

.game__dots {
  display: flex;
  line-height: 0;
  margin-top: -5px;
}

.game__dot__wrapper {
  position: relative;
  height: 7px;
  width: 7px;
  margin: 0 auto;
}

.game__dot__shade {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 40%;
  right: 45%;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px $shadow-color;
  background-color: $shadow-color;

  //stroke: #5B7116;
}

/*
// todo: colors for dot appearing on selecting a matching element
// slow transition to the default color with fade in animation
//
// .game__dot__shade {
// #8b1207
//box-shadow: 0 0 2px 2px $hover-color;
//background-color: $hover-color;
// }
//
//.game__dot svg {
fill: #C0951C;
    opacity: 0.6;
// }

 */

.game__dot {
  flex: 0 0 33%;

  svg {
    position: absolute;
    height: 7px;
    width: 7px;
    top: -0.5px;
    fill: $dot-color;
    opacity: 0.6;
  }

  &._y {
    svg {
      fill: $win-color;
    }

    .game__dot__shade {
      box-shadow: 0 0 3px 3px #5b7116;
      background-color: #5b7116;
    }
  }

  &._n {
    svg {
      fill: $lose-color;
    }

    .game__dot__shade {
      box-shadow: 0 0 3px 3px $lose-color;
      background-color: $lose-color;
    }
  }
}

.game__button {
  height: 20px;
  width: 20px;
  margin: 0 2px;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: 0;

  svg {
    stroke: #000;
    fill: #000;

    stroke: $hover-color;
    fill: $hover-color;
  }

  &:hover svg {
    stroke: $hover-color;
  }

  &._y svg {
    //stroke: #636114; // !
    //stroke: #538119; // maybe, too simple
    //stroke: #1b375b; // interesting blue, good combination with green
    //stroke: #C0951C; // cool orange, but doesn't suite by meaning
    //stroke: #5CA02B; // nice light green, feels good
    //stroke: #459226; // another nice, darker
    //stroke: #195971; // nice bluish
    //stroke: #1D6064; // same, but greenier, looks complex and nice
    //stroke: #246F49; // another nice gree, best match with the dot color
    stroke: #27763c; // same as above, but more warm magic
    fill: #27763c;
  }

  &._n svg {
    stroke: $lose-color;
    fill: $lose-color;
  }
}
